/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --primary-color: #3498db; 
    --grey-out: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    /* height needs to be set to align vertically */
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    background-color: #f6f7fb;
}

.container {
    text-align: center;
}
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1em;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    /* have to set content to empty string to see ::before */
    content: '';
    background-color: var(--grey-out);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--grey-out);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--primary-color);
}

.btn {
    background: var(--primary-color);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 0.8em;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background: var(--grey-out);
    cursor: not-allowed;
}